body {
  font-family: Courier New;
  margin: 0;
  padding: 0;
  line-height: 2;
  text-align: justify
}

header {
  background: hsl(219, 53%, 37%);
  color: white;
  padding: 1rem 0;
  text-align: center;
}

main {
  padding: 5rem;
}

section {
  margin: 2rem;
}

h1 {
  text-align: center
}

h2, {
  color: #333;
}

h3 {
  color: #333;
  margin: 2.5rem
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#vis, #vis2 {
  width: 80%;
  max-width: 1000px;
  height: auto;
}

